<nav class="navbar navbar-default navbar-fixed-top main-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Yapo</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Yapo</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right ul-custom">
        <li>
          <% if user_signed_in? %>
            <a href="#" class="name">
              <%= current_user.name %>
            </a>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li><a href="<%= destroy_user_session_path %>" data-method="DELETE"><i class="fas fa-power-off"></i> Salir</a></li>
        <% else %>
          <li><a href="<%= new_user_session_path %>">Ingreso</a></li>
          <li><a href="<%= new_user_registration_path %>" class="reg">Registro</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
