<div class="wrap-form">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="form-group form-group-custom">
      <%= form.label :name, "Nombre" %>
      <div>
        <%= form.text_field :name, id: :product_name %>
      </div>
    </div>

    <div class="form-group form-group-custom">
      <%= form.label :description, "Descripción" %>
      <div>
        <%= form.text_field :description, id: :product_description %>
      </div>
    </div>

    <div class="form-group form-group-custom">
      <%= form.label :photo, "URL imagen" %>
      <div>
        <%= form.text_field :photo, id: :product_photo %>
      </div>
    </div>

    <div class="form-group form-group-custom">
      <%= form.label :price, "Precio" %>
      <div>
        <%= form.text_field :price, id: :product_price %>
      </div>
    </div>

    <div class="form-group form-group-custom">
      <%= form.label :enable, "Disponible" %>
      <div>
        <%= form.check_box :enable, id: :product_enable %>
      </div>
    </div>

    <div class="form-group">
    <div>
      <%= form.submit "Subir"%>
      <%= link_to 'Volver', products_path, class: 'volver' %>
    </div>
  </div>

  </fieldset>

<% end %>
</div>
