<div class="wrap-container">

<% @products.reverse.each do |product| %>

      <div class="product-card">

        <div style="background-image:url(<%= product.photo %>)" class="image-product"></div>
        <div class="info">

          <span><%= product.price %></span>
          <h1><%= product.name %></h1>
          <p><%= product.description %></p>

          <div class="circle">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>

          <% if user_signed_in? %>

          <nav class="link-product">
            <ul>
              <li>
                <%= link_to 'Ver Producto', product %>
              </li>
              <% if user_signed_in? && (current_user.id == product.user_id) %>

              <% else %>
              <li>
                <%= link_to 'Comprar', comprar_path(product) %>
              </li>
              <% end %>

            </ul>
          </nav>

          <% if user_signed_in? && (current_user.id == product.user_id) %>

            <%= link_to '', edit_product_path(product), class: "btn-editar" %>
            <%= link_to '', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-eliminar" %>

            <div class="access">
              <%= link_to '', edit_product_path(product), class: "btn-editar" %>
              <%= link_to '', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-eliminar" %>
            </div>

          <% end %>

          <% else %>


          <nav class="link-product">
            <ul>
              <li>
                <%= link_to 'Ver Producto', product %>
              </li>
              <li>
                <a href="<%= new_user_session_path %>">Comprar</a>
              </li>
            </ul>
          </nav>

        <% end %>

        </div>

      </div>

<% end %>


</div>
