<div class="wrap-container">

  <article class="wrap-show">

    <div>
      <figure style="background-image:url(<%= @product.photo %>)">
      </figure>
    </div>

    <div>
      <p class="star"><span>Customer Reviews:</span>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <h1><%= @product.name %></h1>
      <h3>Publicado por: <%= link_to @product.user.name, profile_path(@product.user), class: 'user' %></h3>
      <p><%= @product.description %></p>
      <h2><%= @product.price %></h2>

      <% if user_signed_in? && (current_user.id == @product.user_id) %>
        <%= link_to 'Editar', edit_product_path(@product), class: 'editar' %>
      <% elsif user_signed_in? %>
        <%= link_to 'Comprar', comprar_path(@product) %>
      <% else %>
        <a href="<%= new_user_session_path %>">Comprar</a>
      <% end %>



    </div>

  </article>

<div class="access-bot">
    <%= link_to 'Volver al Home', products_path, class: 'volver' %>
</div>
</div>
