<div class="wrap-container wrap-container-login wrap-container-singup">

  <div class="form-blo">

    <h1>Regístrate</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Dolore quam iure nisi velit, blanditiis minus.</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Nombre", autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "E-mail", autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password (mínimo 6 caracteres)", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation,  placeholder: "Confirmar password", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", class: 'btn-send' %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
<div class="form-blo">

  <i class="fas fa-user-plus"></i>

</div>


</div>
